.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-ard {
  justify-content: space-around;
}

.justify-ctr {
  justify-content: center;
}

.align-ctr {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 6;
}

.flex-1 {
  flex: 1;
}

.width-100 {
  width: 100%;
}

.min-height-100 {
  min-height: 100vh;
}

.mg-y-auto {
  margin: 0 auto;
}

.mg-y-1 {
  margin: 1rem 0;
}

.mg-y-2 {
  margin: 2rem 0;
}

.mg-x-half {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mg-x-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-half {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.top-50 {
  top: 30%;
}

.left-50 {
  left: 30%;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 50rem;
  gap: 1rem;
  margin: 0 auto;
}

.grid-5-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
}

.grid-30-70 {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.grid-40-60 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid-20-80 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}
